<div class="float-right">
  <p><%= link_to "Home", root_path%></p>
  <p class="ml-2"><%= link_to "Orders", couriers_path %></p>
</div>
<div class= "d-flex justify-content-center"><h3> Welcome to Order Page</h3></div>